{% macro fractal(seed, large = False, class="", img_class="") %}
{# if large: almost fullscreen fractal #}
{# else: about 200px #}
<picture class="{{ class }}">
    {% if large %}
        <source srcset="{{ url_for("img", seed=seed, size=640) }}"
            media="(max-width: 640px)">
        <img src="{{ url_for("img", seed=seed, size=1366) }}"
             alt="The fractal '{{ seed }}' is computing, please be patient :)"
             class="img_cover {{ img_class }}"
        />
    {% else %}
        <img src="{{ url_for("img", seed=seed, size=200) }}"
             alt="The Fractal '{{ seed }}' is computing, please be patient :)"
             class="img_cover {{ img_class }}"
        />
    {% endif %}


</picture>
{% endmacro %}


{% macro navbar() %}
    <nav class="navbar">
        <a href="{{ url_for("latest") }}" class="hitbox">Latest</a>
        <a href="{{ url_for("brouse") }}" class="hitbox">Browse</a>
        <a href="{{ url_for("random") }}" class="hitbox">Random</a>
        <a href="{{ url_for("about") }}" class="hitbox">About</a>
    </nav>
{% endmacro %}

{% macro icon(name) %}
    {% if name == "left-arrow" %}
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><path d="M10 19l-7-7m0 0l7-7m-7 7h18"></path></svg>
    {% elif name == "right-arrow" %}
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><path d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
    {% elif name == "download" %}
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"></path></svg>
    {% elif name == "sun" %}
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" clip-rule="evenodd"></path></svg>
    {% endif %}
{% endmacro %}