{% extends "layouts/regular.html" %}
{% from "macros/macros.html" import icon, showcase_card %}

{% block content %}
    <h1 class="text-6xl md:text-8xl text-center pt-4 pb-12 z-10">Projects</h1>
    <div class="text-white lg:max-w-screen-lg max-w-max my-4 rounded-xl bg-gray-900 bg-opacity-80
                border-orange-500 border-2 shadow-2xl shadow
                md:flex justify-between mx-auto p-6 space-x-6
                ">
        <div class="md:min-w-max text-center flex flex-col items-center h-full ">
                <h2 class="text-xl text-gray-400">Latest creation</h2>
                <div class="text-4xl font-bold swag-text my-2">Flyre</div>
                <div class="w-4/5 mb-4">
                    A pixel-art shoot-em-up with a skill tree.
                </div>
                <div class="flex justify-center space-x-3 mb-6">
                    {% for name in "python pygame".split() %}
                        <img src="{{ url_for('static', filename='imgs/' + name + '.png') }}" alt="{{ name }} logo"
                             class="h-6" data-tooltip="{{ name }}">
                    {% endfor %}
                </div>
                <div class="space-y-2">
                {% for icon_name, url, text in (
                        ("itch", "https://cozyfractal.itch.io/flyre", "Download on itch.io"),
                        ("gitlab", "https://gitlab.com/ddorn/flyre", "Check the source code"),
                        ("jam", "https://itch.io/jam/pygame-community-easter-jam", "Winner of a one week game jam"),
                    ) %}
                    <a href="{{ url }}" class="block w-full p-3
                        text-left text-white
                        bg-gray-800 rounded
                        transform transition hover:translate-x-2
                        hover:bg-gray-700
                    ">
                        <img src="{{ url_for('static', filename='imgs/' + icon_name + '.png') }}" alt="{{ name }} logo"
                             class="h-6 inline pr-2 transform transition hover:scale-110"> <!-- data-tooltip="{{ icon_name }}"> -->
                        {{ text }}
                    </a>
                {% endfor %}
                </div>
        </div>
        <div class="hidden md:block w-full h-96 relative">
            <iframe class="absolute top-0 left-0 w-full h-full"
                    width="560" height="315"
                    src="https://www.youtube-nocookie.com/embed/_AwWQzmCyjg?controls=0&rel=0"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
    <!-- I don't like it much, having twice the code for the video... but I don't know how to handle mobiles better. -->
    <div class="md:hidden w-full h-64 xs:h-96 relative">
        <iframe class="absolute top-0 w-screen h-full"
                style="left:50%; transform: translate(-50%, 0);"
                width="560" height="315"
                src="https://www.youtube-nocookie.com/embed/_AwWQzmCyjg?controls=0&rel=0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>

    <div class="mb-16"></div>

    <div class="mx-auto md:max-w-screen-xl text-center ">
        <!-- {{ showcase_card("Flyre",
                "A pixelart shmup with a skilltree.<br><br>Winner of the Pygame Community Easter Jam, that lasted a week.",
                "flyre.png",
                "python pygame",
                youtube="https://www.youtube.com/watch?v=_AwWQzmCyjg",
                gitlab="https://gitlab.com/ddorn/flyre",
                itch="https://cozyfractal.itch.io/flyre",
                jam="https://itch.io/jam/pygame-community-easter-jam"
            ) }} -->
        {{ showcase_card("The Fractal Space",
                "A random fractal generator. <br><br>Enter your name or anything, get a fractal !",
                "thefractalspace.png",
                "python javascript flask",
                web="https://thefractal.space",
                gitlab="https://gitlab.com/ddorn/thefractal.space"
            ) }}
        {{ showcase_card("The Casta Way",
                "A game about going up a golden road and... beer.<br><br>It was made in under 4 days with my little brother for Pyweek30",
                "thecastaway.png",
                "python pygame",
                jam="https://pyweek.org/e/the-casta-way/",
                gitlab="https://gitlab.com/ddorn/the-casta-way"
            ) }}
        {{ showcase_card("Le Maître de la Gravité",
                "A short plateformer where you solve puzzles by modifying gravity.<br><br>School project aimed at showing surprising effects of gravity.",
                "gravity.png",
                "godot",
                itch="https://cozyfractal.itch.io/gravity",
                gitlab="https://gitlab.com/ddorn/gravity"
            ) }}
        {{ showcase_card("Chaos",
                "A one-stick shooter made only with particles.<br><br>Made in one weekend in Rust for the 10th Alakajam.",
                "chaos.png",
                "rust",
                jam="https://alakajam.com/10th-alakajam/984/chaos/",
                itch="https://cozyfractal.itch.io/chaos",
                gitlab="https://gitlab.com/ddorn/alakajam-chaos"
            )  }}
        {{ showcase_card("Butterfly Destroyers",
                "Fight the butterfly overpopulation by shooting them down!<br><br>A 2.5D shooter with a lot of polish. Team entry winner of PyWeek 29 !",
                "butterflydestroyers.png",
                "python pygame",
                jam="https://pyweek.org/e/PythonixCoders/",
                youtube="https://www.youtube.com/watch?v=AmFneqdItbg",
                github="https://github.com/PythonixCoders/PyWeek29/"
            ) }}
        {{ showcase_card("The Random Space",
                "A generator of random french proverbs, movie titles or town names.",
                "therandomspace.png",
                "javascript python flask",
                web="https://therandom.space",
                gitlab="https://gitlab.com/ddorn/therandom.space"
            )  }}
        {{ showcase_card("Shadows",
                "A pygame experiment with lightning and shadows.",
                "shadows.png",
                'python pygame experiment',
                youtube="https://www.youtube.com/watch?v=961uJkNYThI",
                gitlab="https://gitlab.com/ddorn/shadow"
            ) }}
        {{ showcase_card("48hours",
                "A plateformer with a destructive llama.<br><br>My first full game, made with a friend in 48 hours. Note: we suck at level design!",
                "48hours.png",
                "python pygame",
                gitlab="https://gitlab.com/lama-corp/48hours"
            ) }}
    </div>

    <script src="{{ url_for('static', filename='random.js') }}"></script>
    <script>
        const translations = {
            // On icons
            python: 'Language: Python',
            rust: 'Language: Rust',
            javascript: 'Language: Javascript',
            flask: 'Web framework: Flask',
            pygame: 'Graphics with Pygame',
            experiment: 'This is an experiment',
            godot: 'Engine: Godot',
            // On links
            jam: 'Game jam page',
            gitlab: 'See the source code',
            github: 'See the source code',
            web: 'Go to the website',
            youtube: 'Watch demo',
            itch: 'Get it on itch!',
        };
        document.querySelectorAll('[data-tooltip]').forEach(elem => {
            make_tooltip(elem, translations[elem.getAttribute('data-tooltip')])
        })

        const pauseBtn = document.getElementById('pause-btn');
        pauseBtn.addEventListener('click', () => { windAnimation.isPaused() ? windAnimation.resume() : windAnimation.pause(); })
        make_tooltip(pauseBtn, () => { return windAnimation.isPaused() ? 'Resume the animation' : 'Pause the animation'; })
    </script>

{% endblock %}

{% block background %}
    <canvas id="bg-canvas" class="fixed w-screen h-screen overflow-hidden"></canvas>
    <button id="pause-btn" class="fixed bottom-8 right-8 z-10 w-8 h-8
        rounded-full focus:outline-none text-gray-300 hover:text-gray-50">
        {{ icon('pause', 'h-10') }}
    </button>
    <script src="{{ url_for('static', filename='wind.js') }}"></script>
{% endblock %}
