{% extends "layouts/regular.html" %}
{% from "macros/macros.html" import icon %}
{% block content %}

    <h1 class="text-orange font-bold text-3xl">About this website</h1>
    <p class="p--about">
        I'm Diego Dorn, a french math student, actually (2021) in
        my third year of bachelor at the EPFL.
        I find it fascinating
        to see how order and meaning can emerge from just a sequence
        of random bytes.
    </p>
    <p class="p--about">
        I like randomnes, and I've used it in quite a few projects
        since I've learned oh to code. I started with a fez guessing games,
        but what I really liked was to <em class="text-it">create</em>
        unexpectedd things, thanks to randomness.
    </p>


    <p class="p--about">
        At some point, I learned a bit of computer graphics and
        decided that it would be very fun to generate random images,
        so I learned about noises (perlin, simplex...) and I also tried
        to use randomness to add value, and not chaos in games I
        was coding. Last year, I found out that I could also generate fractals
        in a completely random fashion. This is how
        <a href="https://twitter.com/TheFractalBot">@TheFracalBot</a>
        was created, a twitter bot that posts a new, unique,
        fractal every day. Later, I made
        <a href="https://thefractal.space">thefractal.space</a>, my first website,
        to showcase those random fractals.
    </p>

    <p class="p--about">
        Comming back to now, I was in recovery from the
        appendicitis, and a bit bored, so I tried to improve
        a simple random word generator I made long ago. The goal
        was threefold:
    </p>

    <ul class="list-disc list-inside md:ml-1 pt-1">
        <li>generate alsatian city names</li>
        <li>generate proverbs</li>
        <li>generate random fanfictions</li>
    </ul>

    <p class="p--about">
        Sadly, I have not yet succeded the thrird goal,
        because I'm heaving trouble getting data from
        fanfiction websites.
    </p>

    <p class="p--about">
        During those few days, I coded a lots of different
        words or entences generators. Not all of them where
        fun (generating bible verses was less fun than expected)
        be we did have a hell of a good time with my friends
        and familly. That's the reason I wanted to share them ;)
    </p>

    <h2 class="section__title--about">Credit where it's due</h2>
    <p class="p--about">
        First of all, a big <em>Merci</em> to my brother, Félix,
        for his time and advice. Everything I know in front-end
        is thanks to him.
    </p>
    <p class="p--about">
        I'd like to thank <a href="https://twitter.com/hommeviande">
        @HommeViande</a> for giving me this great idea.
    </p>
    <p class="p--about">
        A big thank to <a href="https://pythonanywhere.com">Python Anywhere</a>
        for hosting the website, and being so nice and competent. If you
        want to host a python website, run bots or whatever experiment, you
        should definetly check them out! And they have a great free plan...
    </p>
    <p class="p--about">
        Thanks to
        <a href="https://heroicons.dev/" title="Freepik">
            Heroicons</a>
        for the nice icons I use. {{ icon("sun") }}
    </p>


    <h2 class="section__title--about">Contact</h2>
    <p class="p--about">
        You can contact me on Twitter <a href="https://twitter.com/LeQuanta">@LeQuanta</a>
        or by email at: diego&nbsp;AT&nbsp;lama-corp&nbsp;DOT&nbsp;space <br>
    </p>

{% endblock %}
