{% extends "layouts/regular.html" %}
{% from "macros/macros.html" import icon %}
{% block content %}
    <h1 class="title--about">About this website</h1>
    <p class="p--about">
        I'm Diego Dorn, a french math student, actually in
        my second year of bachelor at the EPFL.
    </p>
    <p class="p--about">
        I always liked to draw fractals. <br>
        During my life, I made five or six programs to
        draw them, the first ones where basic and the last
        one, <a href="https://gitlab.com/ddorn/brocoli">Brocoli</a>
        is much more complex, even though still much simpler than
        professional software that exists out there.
    </p>

    <p class="p--about">
        At some point, an idea emerged in my head:
        <em>drawing random fractals</em>. This is how
        <a href="https://twitter.com/TheFractalBot">@TheFracalBot</a>
        was created, a twitter bot that posts a new, unique, randomly
        generated fractal every day.
    </p>

    <p class="p--about">
        In April 2020, during the COVID-19 outbreak,
        I had some free time and decided to learn HTML
        and CSS to create a website for @TheFractalBot.
        This would never have been possible without the
        help of my little brother, <a href="https://felixdorn.fr">Félix</a>.
        He taught me everything I know in two days,
        condensing what he learned in a few years so
        I did not have to go through the lengthy
        try-fail-repeat-learn process.
    </p>

    <h2 class="section__title--about">Credit where it's due</h2>
    <p class="p--about">
        First of all, a big <em>Merci</em> to my brother, Félix,
        for his time and advice.
    </p>
    <p class="p--about">
        I would also like to thank <a href="https://risson.space">risson</a>
        for helping and teaching me how to deploy the server,
        for building such a rich infrastructure for Lama Corp.,
        and for always improving my technological taste.
    </p>
    <p class="p--about">
        I also thank everyone who contributed to
        <a href="https://kivy.org/">kivy</a>,
        <a href="https://numba.pydata.org/">numba</a> and
        <a href="https://numpy.org/">numpy</a>.
        Those three python libraries make it possible
        for Brocoli to exist and therefore this website.
    </p>
    <p class="p--about">
        Finally, thank you mom, for cooking for me much often
        than you should, and always keeping me inspired when you find
        unexpected names for my fractals!
    </p>

    <p class="p--about">
        Thanks to
        <a href="https://heroicons.dev/" title="Freepik">
            Heroicons</a>
        for the nice icons I use. {{ icon("sun") }}
    </p>


    <h2 class="section__title--about">Contact</h2>
    <p class="p--about">
        You can contact me on Twitter <a href="https://twitter.com/LeQuanta">@LeQuanta</a>
        or by email at: diego&nbsp;AT&nbsp;lama-corp&nbsp;DOT&nbsp;space <br>
    </p>

{% endblock %}
