{% extends "layouts/regular.html" %}
{% from "macros/macros.html" import icon, cmd %}
{% block content %}

    <h1 class="text-orange font-bold text-3xl">About this website</h1>
    <p class="p-about">
        I'm Diego Dorn, a french math student, actually (2021) in
        my third year of bachelor at the EPFL.
        I find it fascinating
        to see how order and meaning can emerge from just a sequence
        of random bytes.
    </p>
    <p class="p-about">
        I like randomness, and I've used it in quite a few projects
        since I've learned how to code. I started with a few guessing games,
        but what I really liked was to <em class="text-it">create</em>
        unexpectedd things, thanks to randomness.
    </p>
    <p class="p-about">
        At some point, I learned a bit of computer graphics and
        decided that it would be very fun to generate random images,
        so I learned about noises (perlin, simplex...) and I also tried
        to use randomness to add value, rather than chaos in games I
        was coding. Last year, I found out that I could also generate fractals
        in a completely random fashion! This is how
        <a href="https://twitter.com/TheFractalBot">@TheFracalBot</a>
        was created, a twitter bot that posts a new, unique,
        fractal every day. Later, I made
        <a href="https://thefractal.space">thefractal.space</a>, my first website,
        to showcase those random fractals.
    </p>
    <p class="p-about">
        Comming back to now, I was in recovery from the
        appendicitis, and a bit bored, so I tried to improve
        a simple random word generator I made long ago. The goal
        was threefold:
    </p>
    <ul class="list-disc list-inside md:ml-1 pt-1">
        <li>generate alsatian city names</li>
        <li>generate proverbs</li>
        <li>generate random fanfictions</li>
    </ul>
    <p class="p-about">
        Sadly, I have not yet succeded the thrird goal,
        because I'm heaving trouble getting data from
        fanfiction websites.
    </p>
    <p class="p-about">
        During those few days, I coded a lots of different
        words or entences generators. Not all of them where
        fun (generating bible verses was less fun than expected)
        be we did have a hell of a good time with my friends
        and familly. That's the reason I wanted to share them ;)
    </p>
    <p class="p-about">
        This also gave me an excuse to learn a bit more
        about web technologies, since I know close to nothing
        about them. This how I discovered
        <a href="https://tailwindcss.com">Tailwind</a>, PythonAnywhere,
        the DNS, the workings of javascript promises and how to make a
        REST api... I don't fancy coding for the web that much,
        but it is so easy to share what you do that it
        is very gratifying, and there are losts of interesting things
        to learn.
    </p>

    <p class="p-about">
        This website is therefore a playground for me to discover
        an unknown world, so don't expect everything to work, to
        be coherent or well designed... I'm trying my best tho!
    </p>


<h2 class="section__title--about">How does it work ?</h2>
    <p class="p-about">
        All the generators work in the same way. The words or
        sentences are generated in three steps:
    </p>
    <ul class="list-disc list-inside ml-1 p-about sm:mt-1">
        <li>
            First, I gather a large amount of the things I want
            to generate, it is <em>a corpus</em>.
        </li>
        <li class="pt-1">
            Then I generate a probability table from the corpus
            that tells with what probability a word can follow
            a sequence of given words.
        </li>
        <li class="pt-1">
            Finally, I pick the start of a sentence randomly
            from the corpus and I complete it according to the
            probability table.
        </li>
    </ul>
    <p class="p-about">
        One important parameter is the length of the sequence.
        For each generator, I fixed an integer <em>N</em>, and
        fill the table with all the combinations of <em>N</em>
        consecutive words in the corpus, along with their count.
        I found out later, those are the <a href="https://en.wikipedia.org/wiki/N-gram">
        <em>N</em>-grams</a> of the corpus, and are used in
        a wide variety of areas, mostly in natural language
        processing, but also in computational biology
        (DNA/protein sequencing), linguistics,
        data compression, communication theory...
    </p>
    <p class="p-about">
        In order to generate interesting proverbs, it is
        important to chose the right <em>N</em>. The bigger
        <em>N</em>, the more we capture the rules of the
        french language, and the more our sentences are
        well constructed. However, we want to generate new
        proverbs, and this happens when two proverbs have
        <em>N-1</em> words in common, but the <em>N</em>-th
        is different. This way, there is a choice, a possible
        bifurcation. The thing is, if <em>N</em> is large,
        this happens less often. Also, it takes more space to
        store <em>N</em>-grams.<br>
        On the other hand, if <em>N</em> is low, there are a lot
        of bifurcations, and most proverbs we generate will be new...
        but non sensical.
    </p>
    <p class="p-about bg-gray-800 rounded-lg mt-2 p-4">
        <span class="text-orange px-1">> </span>
        Mieux vaut ne juge pas une chose bien pour faire naître ? ne me faire dire, le long sérieux.
    </p>
    <p class="p-about">
        Here, <em>N = 2</em>, and we see that every pair of words can be
        together, but overall, it is a mess. With <em>N = 4</em>, almost
        every proverb already exists, so I generate them with <em>N-3</em>.
        It is not perfect, but it works often enough to be fun!
    </p>

    <p class="p-about">
        For more details, you can find the source code
        <a href="https://gitlab.com/ddorn/therandom.space">on Gitlab</a>.
        The idea is very simple, but the code is a bit more complex because
        I wanted it to work with any depth and be very generic (the exact same
        code generates words or sentences!). It means that the probability
        table is a <em>N</em> dimensionnal array (in practice, a dict), generic over <em>N</em>
        and most functions are recursive.
    </p>


    <h2 class="section__title--about">Credit where it's due</h2>
    <p class="p-about">
        First of all, a big <em>Merci</em> to my brother, Félix,
        for his time and advice. Everything I know in front-end
        is thanks to him.
    </p>
    <p class="p-about">
        I'd like to thank <a href="https://twitter.com/hommeviande">
        @HommeViande</a> for giving me this great idea.
    </p>
    <p class="p-about">
        A big thank to <a href="https://pythonanywhere.com">Python Anywhere</a>
        for hosting the website, and being so nice and competent. If you
        want to host a python website, run bots or whatever experiment, you
        should definetly check them out! And they have a great free plan...
    </p>
    <p class="p-about">
        Thanks to
        <a href="https://heroicons.dev/" title="Freepik">
            Heroicons</a>
        for the nice icons I use. {{ icon("sun") }}
    </p>


    <h2 class="section__title--about">API</h2>
    <p class="p-about">
        There is a very simple API to generate proverbs at
        <code class="inline">www.therandom.space/api/proverb</code>.
        You can replace <code>proverb</code> with <code>alsace</code> or
        <code>film</code> to generate different things. <br>
    </p>
    {{ cmd("curl https://www.therandom.space/api/proverb", '{
    "quote": "L\'hypocrisie est un fleuve.",
    "likes": 1
}') }}

    <p class="p-about">
        Note that all endpoint accept a <code>raw</code> argument
        and return a simple text, instead of json.
    </p>
    {{ cmd('curl "http://www.therandom.space/api/film?raw=true"', "Twelve o'clocked") }}

    <p class="p-about">
        It is also possible to get the full best of, with all
        kinds (films, proverbs...).
    </p>
    {{ cmd("curl https://www.therandom.space/api/bestof", '{
    "0": {
        "quote": "Une seule hirondelle ne fait pas cuire le riz.",
        "likes": 8,
        "kind": "proverb"
    },
    "1": {
        "quote": "Jimmy door wars: the seven years",
        "likes": 5,
        "kind": "film"
    },
    ...
}') }}

    <p class="p-about">
        It is also possible to filter the bestof to have only one
        kind:
    </p>
    {{ cmd("curl https://www.therandom.space/api/bestof?kind=alsace") }}


    <h2 class="section__title--about">Contact</h2>
    <p class="p-about">
        You can contact me on Twitter <a href="https://twitter.com/LeQuanta">@LeQuanta</a>
        or by email: <code>diego at lama-corp.space</code>.<br>
        If you had a good time, or wish to encourage me creating more
        random things, you can support me by donating on paypal:
    </p>


    <p class="p-about flex justify-center p-4">
        <a href="https://paypal.me/diegodorn" class="swag text-white bg-gray-900 text-xl p-4 self-center flex justify-center">
            Buy my next chocolate{{ icon("heart", "inline h-8 pl-2 text-orange") }}
        </a>
    </p>
{% endblock %}
