{% extends "layouts/regular.html" %}
{% from "macros/macros.html" import icon, like_btn %}

{% block content %}
    <div>
        <div class="flex justify-between font-bold text-lg">
            <div>Proverbe</div>
            <div>Likes</div>
        </div>

        <div class="space-y-8 mt-4 text-4xl">

            {% for best in bests %}
                <div class="line-tag flex flex-col
                    md:flex-row md:justify-between items-center
                    font-medium leading-snug
                    bg-gray-800 rounded-lg border border-gray-500
                    px-6 py-8 ">
                    <span class="pb-4 md:pb-0 md:pr-4">{{ best[0] }}</span>
                    {{ like_btn(best[1], 'self-end md:self-center') }}
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{{ url_for("static", filename="random.js") }}"></script>
    <script>
        document.querySelectorAll(".line-tag").forEach(line => {
            let [quote, likes] = line.children;
            make_like_button(likes, quote, 'proverb')
        })
    </script>
{% endblock %}
