{% extends "layouts/regular.html" %}
{% from "macros/macros.html" import icon, showcase_card %}

{% block content %}
    <div class="mx-auto max-w-screen-lg text-center">
        {{ showcase_card("The Fractal Space",
            "A random fractal generator. <br><br>Enter your name or anything, get a fractal !",
            "thefractalspace.png",
            "https://thefractal.space") }}
        {{ showcase_card("The Casta Way",
            "A game about going up a golden road and... beer.<br><br>It was made in under 4 days with my little brother for Pyweek30",
            "thecastaway.png",
            "https://pyweek.org/e/the-casta-way/") }}
        {{ showcase_card("The Random Space",
            "A generator of random proverbs, movie titles or town names.",
            "therandomspace.png",
            "https://therandom.space") }}

    </div>
{% endblock %}
