{% extends "layouts/regular.html" %}
{% from "macros/macros.html" import icon, like_btn %}

{% block content %}
    <div class="flex flex-col justify-between items-center justify-center h-full p-4 lg:p-0">
        <div></div>
        <h1 id="quote" class="text-3xl md:text-6xl font-bold text-center break-word md:leading-snug select-all">{{ bled }}</h1>
        <div class="text-4xl flex justify-center space-x-4">
            <button id="reload-btn" class="btn-gray">
                {{ icon("reload", "inline h-9 pb-1") }}
            </button>
            {{ like_btn(0, id='like-btn') }}
        </div>
    </div>
    <script src="{{ url_for("static", filename="random.js") }}"></script>
    <script>
        const like_button = document.getElementById('like-btn');
        const quote_elem = document.getElementById("quote")
        const reload_button = document.getElementById("reload-btn")

        make_like_button(document.getElementById('like-btn'),
            document.getElementById('quote'),
            '{{ title.lower() }}');

        reload_button.addEventListener('click',  _ => {
            fetch('{{ url_for("generate", kind=title.lower()) }}')
                .then(response => response.json()
                    .then(data => {
                        quote_elem.innerText = data.quote;
                        like_button.children[0].innerText = data.likes;
                        like_button.style.color = "white";
                    })
                );
        })
    </script>
{% endblock %}
