/* Gilroy Medium */
@font-face {
    font-family: "Gilroy";
    src: url("/static/fonts/gilroy/Gilroy-Medium.eot");
    src: local("Gilroy Medium"), local("Gilroy-Medium"), url("/static/fonts/gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("/static/fonts/gilroy/Gilroy-Medium.woff2") format("woff2"), url("/static/fonts/gilroy/Gilroy-Medium.woff") format("woff"), url("/static/fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
/* END Gilroy Medium */


/* Gilroy Bold */
@font-face {
    font-family: "Gilroy";
        src: url("/static/fonts/gilroy/Gilroy-Bold.eot");
        src: local("Gilroy Bold"), local("Gilroy-Bold"), url("/static/fonts/gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("/static/fonts/gilroy/Gilroy-Bold.woff2") format("woff2"), url("/static/fonts/gilroy/Gilroy-Bold.woff") format("woff"), url("/static/fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

/* Gilroy FAT*/
@font-face {
    font-family: "Gilroy";
    src: url("/static/fonts/gilroy/Gilroy-Black.eot");
    src: local("Gilroy Black"), local("Gilroy-Black"), url("/static/fonts/gilroy/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("/static/fonts/gilroy/Gilroy-Black.woff2") format("woff2"), url("/static/fonts/gilroy/Gilroy-Black.woff") format("woff"), url("/static/fonts/gilroy/Gilroy-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

/* END Gilroy Bold *

/*LA CEST A MOI*/
@tailwind base;
@tailwind utilities;
/* Ici pour ajouter des classes */
@tailwind components;

:root {
    --blue-900: #f7fafc;
    --blue-800: #e2f2f7;
    --blue-700: #e2e8f0;
    --blue-500: #a0aec0;
    --blue-400: #7488a5;
    --blue-300: #516482;
    --blue-200: #354157;
    --blue-100: #1a202c;
    --orange: #ffa500;
}
a {
    text-decoration: none;
    color: var(--orange);
}

.title--about {
    font-size: 2rem;
    color: var(--orange);
    font-weight: bold;
}

.section__title--about {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    font-weight: bold;
}

.p--about {
    margin-top: 1rem;
    width: 50%;
    text-align: justify;
    line-height: 1.25rem;
}

.icon {
    display: inline;
    height: 1em;
    padding: 0 0.25em;
}
.container--narrow {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 2rem;
    min-height: 100vh;
}
